body {
    font-size: 14pt;
}
span.romanized { font-style: italic }
span.small-caps {
    font-variant: small-caps;
}
table.border-collapse { border-collapse: collapse }
table.break-inside-avoid { break-inside: avoid }
th, td {
    padding-right: 0.4em;
    padding-left: 0.4em;
}
td.vertical-align-bottom { vertical-align: bottom }
td.hcenter { text-align: center }
td.implicit-label { color: gray }
*.bordered { border: 1px solid }
